@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}



.top-text {
  font-weight: bold;
  font-size: .6rem;
  text-align: left;
}

nav {
  position:absolute;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
   
}


.img-responsive {
    height: 45px;
   
 
  }

.navbar-brand {
    width: 180px;
    left: 10px;
    
    
}


.nav-item {
    font-size: .7rem;
    font-weight: 600;
  
    
    
    
}
 
.navbar-toggler {
  
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: box-shadow .15s ease-in-out;
   
}

.navbar-light .navbar-toggler {
  color: #004B88;
  border-color:#C9D1E5;
}

.hero{
  position: relative;
  max-width: 100%;
  height:auto;
  padding: 105px 15px 10px 15px;  
}

.d-flex {
  display: flex!important;
  margin-right: 10px;
  margin-left: 10px;
}

.center {
  text-align: center;
  margin-top: 10px;
}
hr{
  height: 5px;
  background-color: #1a097c;
  border: 5px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

