@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
   height: 100px;
   width: 100%;
   margin-left: 0px;
}

.fixed-top {
    position:fixed;
    width: 100%;
    height: 60px;
   }

   p.adviceline {
    text-align:left;
    padding-top: 5px;
    padding-left:.8em;
    font-size: smaller;
   }

.row.container-fluid.info-bar {
  background-color: #004b88;
  color: #FCBB69;
  font-size: .7rem;
  font-weight: 700;
  padding-left:0;
}


nav {
  width: 100%;
  position:relative;
  box-shadow: 0 5px 5px 0 rgba(0,75,136,.4);
  }

a.navbar-brand {
    width: 180px;
    left: 10px;
    margin-left:10px;
    padding-left: 5px;
    
    }

.img-responsive {
      height: 45px;
}

.navbar-nav li{
 position:relative;
  text-align: center;
  
  

}
 .nav-item {
  width: 100%;
  text-align: right;
  color:#004b88;
  font-size: .8rem;
  font-weight: 600;
  background-color:#ffffff;
  padding: 5px;
  
 
}

.navbar-toggler {
  color: #004B88;
  font-size: 1rem;
  line-height: 1;
  background-color:#ffffff;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: .15s ease-in-out;
 }

#hero-image{
  position: relative;
  max-width: 100%;
  height:auto;
  overflow: hidden;
  padding: 100px 15px 10px 15px;
   

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}



#hero-outer {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height:auto;
  overflow: hidden;
  
  
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

.d-flex {
  display: flex!important;
  margin-right: 10px;
  margin-left: 10px;
}

.center {
  text-align: center;
  margin-top: 10px;
}

.center a {
  color:white ;
  
}
 
.center-text {
  color: #ffffff;
}
.center-text p {
  padding-left:2rem;
  padding-right:2rem ;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 2em;
}
p .card-text {
  padding-left:0;
}

.border-primary {
  border-color:black!important;
}

.btn-warning {
  color: #004B88;
  font-weight: 600;
  background-color: #FCBB69;
  border-color: #FCBB69;
}

.center-text.bottom-section {
  text-align:center;
}

li.nav-item.mb-0 {
  background-color: #004B88;
  
}
.text-muted {
  --bs-text-opacity: 1;
  font-size: smaller;
  font-weight: 400;
  color:white !important;
background-color: #004B88;
text-align:center;

}

div.col.mb-3 {
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  
}
.nav-item.mb-3 {
	margin: 5px;
  padding: 0;
}	
