@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: auto;
	padding-bottom: 1700px;
}

/* Fixed Top Section */
.row {
	height: 100px;
	width: 100%;
	margin-left: 0px;
}

.fixed-top {
	position: fixed;
	width: 100%;
	height: 60px;
}

p.adviceline {
	text-align: left;
	padding-top: 5px;
	font-size: .8rem;
}

.row.container-fluid.info-bar {
	background-color: #005688;
	color: #fbbd1e;
	font-size: .7rem;
	font-weight: 700;
	padding-left: 0;
}

/* Navbar Styling and Dropdown */

nav {
	width: 100%;
	position: relative;
	box-shadow: 0 6px 3px 0 rgba(79, 146, 201, 0.4);
}

a.navbar-brand {
	width: 180px;
	left: 10px;
	margin-left: 10px;
	padding-left: 5px;
}

.img-responsive {
	height: 45px;
}

.navbar-nav li {
	position: relative;
	text-align: center;
}

a.nav-link {
	color: #005688;
}

a.nav-link:hover {
	color: #00ffff;
}

.container-fluid {
	width: 100%;
	padding: 0;
}

.navbar-nav li.nav-item {
	width: 100%;
	text-align: left;
	color: #00448a;
	font-size: 1rem;
	font-weight: 600;
	background-color: #f8f9fa;
}

.navbar-toggler {
	color: #00448a;
	font-size: 1rem;
	margin-right: 8px;
	line-height: 1;
	background-color: #f8f9fa;
	border: 2px solid;
	border-color: rgba(0, 75, 136, .2);
	border-radius: 0.5rem;
	transition: .15s ease-in-out;
}

.navbar-collapse {

	margin-right: 1rem;
	opacity: 100%;
	padding-right: 1rem;
}

a.nav-link {

	color: #00448a;
	padding-right: 2rem;
	padding-left: 1rem;
	font-size: 1.1rem;
}

@media (min-width: 576px) {
	.navbar-expand-sm .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
		margin-top: .5rem;
	}
}

div.navbar-collapse.collapse.show {
	height: 60px;
}


.dropdown-menu li.dropdown-item {
	padding-right: 1rem;
}


a.dropdown-item {
	color: #fbbd1e;
	font-size: 1.1rem;
	font-weight: bold;
}

@media (max-width:576px) {
	.navbar-collapse {
		margin-right: 15rem;
		;
	}
}

/* Hero Image and Animation */

#hero-image {
	position: relative;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	padding: 100px 15px 10px 15px;


	animation-name: hero-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


#hero-outer {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	height: auto;


}

@keyframes hero-zoom {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.4);
	}
}

/* Searchbar and website link */


.link {
	color: #f8f9fa;
	opacity: 80%;
}

a:hover {
	color: #00ffff;
}

.d-flex {
	display: flex !important;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 5px;
}

.center {
	text-align: center;
	margin-top: 10px;
}

.center a {
	color: #ffffff
}

.searchplaceholder {
	font-size: small;
	padding: 0 1px 0 1px;
	width: 100%;
	background-color: #f8f9fa;
}

.address {
	text-align: center;
	padding: 10px;
}

/* Welcome and About Citizens Advice Section with Table */
h1.center {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	color: #ffffff;
}

.center-text {
	color: #ffffff;
}

.center-text p {
	padding-left: 1rem;
	padding-right: 1rem;
}

table.container.table.table-bordered {
	padding-right: 1rem;
	font-size: medium;
	color: #fbbd1e;
}


/* Citizens Advice in Romford Section */

h2.romford {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	color: #ffffff
}

.rom_libray_image.rounded-2 {
	width: 100%;
	max-width: 250px;
	float: left;
	padding-right: 10px;
}

.romford-map.rounded-2 {
	width: 250px;
	float: right;
	padding-left: 5px;
	margin-bottom: 5px;
}

/* Help & Advice Section */

h6 {
	padding-top: .75rem;
	color: #fbbd1e;
	font-size: larger;
	font-weight: bold;
}

.advice-center {
	color: #ffffff;
	text-align: center;
	scroll-margin-top: 100px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.row.row-cols-1.advice {
	background-color: #00448a;
	height: 100%;
	margin-bottom: 20px;
}

.ca-link {
	font-size: large;
}

.phone {
	color: #fbbd1e;
	font-weight: bold;
	font-size: large;
}

.number {
	color: #ffffff;
	font-weight: 700;
}

/* Citizens Advice Appointment Bookings at Outreach Offices */

h2#appointments {
	margin-top: 70px;
	margin-bottom: 10px;
	color: #ffffff;
}


.card-body {
	scroll-margin-top: 100px;
	background-color: #f8f9fa;

}

.card-title {
	font-size: 1rem;
	font-weight: bold;
}

.col-xl-3.col-xxl-3 {
	padding: 20px;
}

p .card-text {
	padding-left: 0;
}

.border-primary {
	border-color: #2E639A !important;
	border-radius: 10px;
}

.btn-warning {
	color: #004B88;
	font-weight: 600;
	background-color: #fbbd1e;
}

/* Embedded Citizens Advice Cost-of-Living video. */

h3.more-about {
	color: #ffffff;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

div.container.video {
	text-align: center;
	width: 720px;
}


.video.btn.btn-warning {
	text-align: center;
}

div.card.container.card-img-top.rounded-border {
	border-radius: 10px;
	border-width: 5px;
	margin-bottom: 1rem;
}


/* Havering Information */

#havering-info {
	margin-top: 50px;
	margin-bottom: 30px;
	scroll-margin-top: 100px;
}

.rounded-5.border.border-primary {
	margin-bottom: 30px;
}

/* Local Services in Havering */

h3.local-services {
	color: #ffffff;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

div.center-text.bottom-section {
	width: 100%;
	text-align: center;
	margin: 0 auto 0 auto;
}

.col-sm-6.border.border-warning.text-break {
	background-color: #00448a;
}


div.container.grid.services {
	height: auto;
	margin-bottom: 400px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 2rem;
}

@media (min-width: 576px) {
	div.container.grid.services {
		height: auto;
		margin-bottom: 100px;
		color: #ffffff;
		text-align: center;
	}
}

a.tel {
	color: #f8f9fa;
	opacity: 80%;
}

a.tel:hover {
	color: #00ffff;
}


/* collapsible contact and feedback form */
div.container.text-center.feedback {
	padding-top: 70px;
	position: relative;
	margin-top: 250px;
	width: 720px;
}

button.contact.btn.btn-warning {
	position: sticky;
}

.mb-3.text-start {
	color: #ffffff;
}

#name.form-control {
	background-color: #f8f9fa;
}

#emailaddress.form-control {
	background-color: #f8f9fa;
}

#message.form-control {
	background-color: #f8f9fa;
}


/* no finger touch/no call access for tablets and desktops */
@media(min-width: 550px) {
	a.tel {
		color: #ddd5d5;
		cursor: default;
		text-decoration: none;
	}

	a.tel:hover {
		color: #ddd5d5;
		cursor: default;
		text-decoration: none;
	}
}


/* footer styling */


.border-top {
	position: relative;
	margin-top: 5px;


}

footer {
	position: relative;
	display: block;

}

li.nav-item.mb-0 {
	background-color: #005688;
}


.text-muted {
	--bs-text-opacity: 1;
	font-size: 1rem;
	font-weight: 400;
	color: white !important;
	background-color: #005688;
	text-align: center;

}

div.col.mb-3 {
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;

}

.text-underline-hover:hover {
	text-decoration: underline;
	text-decoration-color: #00ffff;
	text-decoration-thickness: 0.2rem;
}

.nav-item.mb-3 {
	margin: 5px;
	padding: 0;
}

/* disclaimer */

div.disclaimer {
	color: #ddd5d5;
	font-size: 11px;
	text-align: center;
}

.disclaimer {
	padding-bottom: 10px;
}